BODY {
  font-family: "Poppins", sans-serif;
}

HEADER {
  background-color: #0369a1;
}
HEADER .header {
  padding: 10px 0px;
}
HEADER .header .header__title {
  color: white;
}

.section-margin {
  margin: 3rem 0rem;
}

.btn {
  background-color: #0369a1;
  border: 2px solid #0369a1;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  display: inline-block;
  font-weight: 500;
  transition: 0.5s;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  cursor: pointer;
  background: white;
  border: 2px solid #0369a1;
  color: #0369a1;
}
.btn.hover-stroke:hover {
  border: 2px solid #0369a1;
}

.btn--remove {
  background-color: red;
  border: 2px solid red;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  display: inline-block;
  font-weight: 500;
  transition: 0.5s;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.btn--remove:hover {
  cursor: pointer;
  background: white;
  border: 2px solid red;
  color: red;
}
.btn--remove.hover-stroke:hover {
  border: 2px solid red;
}

.btn--purchase, .btn--add {
  background-color: #0369a1;
  border: 2px solid #0369a1;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  display: inline-block;
  font-weight: 500;
  transition: 0.5s;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.btn--purchase:hover, .btn--add:hover {
  cursor: pointer;
  background: white;
  border: 2px solid #0369a1;
  color: #0369a1;
}
.btn--purchase.hover-stroke:hover, .btn--add.hover-stroke:hover {
  border: 2px solid #0369a1;
}
.btn--purchase.btn--purchased, .btn--add.btn--purchased {
  background-color: green;
  color: white;
  border-color: green;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.container.container--slim {
  max-width: 750px;
}

.panel {
  border: 2px solid #0369a1;
  padding: 30px;
  border-radius: 8px;
}
.panel.panel--slim {
  padding: 10px 30px;
}
.panel .panel__row {
  display: flex;
}
.panel .panel__row .panel__column {
  flex: 1 1 0;
  min-width: 0;
  flex-shrink: 0;
}
.panel .panel__row .panel__column.panel__column--50 {
  max-width: 50%;
}
.panel .panel__row .panel__column.panel__column--33 {
  max-width: 33%;
}
.panel .panel__row .panel__column.panel__column--66 {
  max-width: 66%;
}
.panel .panel__row .panel__column.panel__column--right-spacing .panel__item {
  max-width: 75%;
}
.panel .panel__row .panel__column .panel__item {
  padding-bottom: 20px;
  position: relative;
}
.panel .panel__row .panel__column .panel__item .left, .panel .panel__row .panel__column .panel__item .right {
  display: inline-block;
}
.panel .panel__row .panel__column .panel__item .right {
  float: right;
  display: flex;
}
.panel .panel__row .panel__column .panel__item .right .btn--purchase {
  margin-right: 0.5rem;
}
.panel .panel__row .panel__column .panel__item .left SPAN {
  position: relative;
}
.panel .panel__row .panel__column .panel__item .left SPAN:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 0;
  top: 50%;
}
.panel .panel__row .panel__column .panel__item.panel__item--purchased .left SPAN:before {
  opacity: 1;
}

.spending-limit .spending-limit__message {
  display: none;
  color: red;
  font-weight: 600;
  font-size: 1rem;
}
.spending-limit .spending-limit__message.display {
  display: block;
}

FORM .form__input INPUT {
  border: 2px solid #0369a1;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-weight: 500;
  font-size: 1rem;
  min-width: 250px;
}
FORM .form__input INPUT::placeholder {
  color: #0369a1;
  font-weight: 800;
}
FORM BUTTON.btn {
  font-size: 1rem;
}

/*# sourceMappingURL=app.css.map */
